@import url("./gilroy-bold-webfont/style.css");

body {
    font-family: "Gilroy-Regular", sans-serif;
    margin: 0;
    padding: 0;
}

.nav-container {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    color: #141414;
}

button {
    font-family: 'Gilroy-Bold';
    gap: 10px;
}

.login {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
}

h1 {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    letter-spacing: 0%;
    text-align: center;
}

a {
    cursor: pointer;
}

h2 {
    font-family: 'Gilroy-Bold';
    font-size: 40px;
    line-height: 48px;
}


.banner-span {
    color: #0065FE;
    position: relative;
}

.banner-span::after {
    content: url("./url-line.png");
    position: absolute;
    top: 20%;
    left: 25%;
}

@media (max-width: 950px) and (min-width: 789px) {
    .banner-span::after {
        left: 50%;
        transform: translateX(-60%);
    }
}


.banner-paragraph {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #141414;
    margin: 8px auto 0;
}

h4 {
    font-family: 'Gilroy-Bold';
}

.why-p {
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
}

h3 {
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: 0%;
}

.number-group-1 {
    font-family: Gilroy-Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}

.number-group-2 {
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.plans-wrapper {
    display: flex;
    margin: 68px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.plan-title {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #141414;
}

.plan-title-professional {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #ffffff;
}

.plan-professional {
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    color: #ffffff;
}

.plan-professional div p {
    margin-top: 8px;
    margin-bottom: 24px;

}

.plan div p {
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}

.plan {
    border-radius: 12px;
    padding: 24px 0 24px 87px;
    width: min(379px, 90%);
    height: 455px;
    border: 0.4px solid #005AE2;
    box-shadow: 0px 4px 8px 0px #0000000D;
}

.plan-professional {
    padding: 85px 0 85px 65px;
    border: none;
    height: 627px;
    width: min(410px, 90%);
}

.left {
    margin-right: -40px;
}

.right {
    margin-left: -40px;
    z-index: -1;
}

.plan div ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.plan div ul li {
    display: flex;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1111px) {

    .right,
    .left {
        margin: 0;
    }

    .plans-wrapper {
        gap: 60px;
    }

    .plan {
        padding: 30px 50px;
        height: fit-content;
    }

}

@media (max-width: 349px) {
    .plan {
        padding: 20px;
    }
}

.plan div {
    margin-top: 34px;
}

.plan-professional div {
    margin-top: 24px;
}

.plan div h5,
.plan-professional div h5 {
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
}

.plans-buttons {
    font-family: Gilroy-Medium;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.plan-btn-1 {
    color: #0065FE;
    border: 1px solid #0065FE;
}

.plan-btn-2 {
    border: none;
    color: #ffffff;
    background: #0065FE;
}

.plans-buttons button {
    width: 200;
    height: 48;
    border-radius: 100px;
    border-width: 1px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.url-section {
    padding: 83.5px 0;
    display: flex;
    justify-content: center;
}

.url-form {
    border-radius: 12px;
    width: min(476px, 98%);
    padding: 42px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.url-input input {
    border: 1px solid #3284FF;
    width: min(392px, 100%);
    height: 55px;
    border-radius: 12px;
    border-width: 1px;
    gap: 10px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

.url-input input::placeholder {
    width: 115px;
    height: 34px;
    font-family: Gilroy-Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #3284FF;
    gap: 10px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

.url-settings {
    display: flex;
    flex-direction: row;
    width: min(392px, 100%);
    height: 48px;
    gap: 12px;

    div {
        border: 1px solid #3284FF;
        width: 202px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 12px;
        border-width: 1px;
        gap: 10px;
        padding-top: 18px;
        padding-right: 20px;
        padding-bottom: 18px;
        padding-left: 20px;
        font-family: Gilroy-Medium;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0%;
        color: #3284FF;

        select {
            width: 100%;
        }

        select::focus {
            outline: none;
        }


    }

    input {
        width: 178px;
        height: 48px;
        border-radius: 12px;
        border-width: 1px;
        gap: 10px;
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
        border: 1px solid #3284FF;
    }

    input::placeholder {
        width: 107;
        height: 34;
        gap: 10px;
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
        font-family: Gilroy-Medium;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0%;
        color: #3284FF;
    }

}

.url-btn-container {
    margin-top: 24px;

    button {
        margin-bottom: 12px;
        justify-content: center;
        font-family: Gilroy-Medium;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0%;
        color: #ffffff;
        background: #005AE2;
        display: flex;
        align-items: center;
        width: min(392px, 100%);
        height: 48px;
        border-radius: 100px;
        gap: 10px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;

    }

    p {
        font-family: Gilroy-Medium;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #4991FF;
        padding: 10px;

        span {
            font-family: Gilroy-Bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
        }
    }
}

.faqs-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #141414;
    margin-top: 43px;
}

.faqs-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;

    ul {
        margin: auto !important;
        width: min(792px, 90%);
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.faq-bg1 {
    position: absolute;
    width: 804.5289327564539;
    height: 596.1376968629146;
    top: 106.15px;
    opacity: 0.8;
}

.faq-bg2 {
    position: absolute;
    width: 804.5288232659522;
    height: 596.1376451491134;
    top: 700px;
    right: 0;
    opacity: 0.7;
}

details {
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    border-bottom: 1px solid #D6D6D6;

    p {
        padding-bottom: 16px;
    }
}

.get-started-div {
    margin-top: 150px;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    color: #ffffff;
    padding-top: 109px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    h1 {
        margin: auto;
        font-family: Gilroy-Bold;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
    }

    .get-started-btn {
        margin: auto;
        width: 200px;
        text-align: center;
        height: 48px;
        border-radius: 100px;
        gap: 10px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        background-color: #005AE2;
    }
}

summary {
    display: flex !important;
    font-family: Gilroy-Medium;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

details[open] summary img {
    content: url("./minus.png");
}

.logos-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-socials ul {
    display: flex;
    gap: 24px;
}

.link-column .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;

    h4 {
        font-family: Gilroy-Bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }

}

.footer-container {
    margin: 75px 0 24px;
    padding: 20px;
}

.terms-of-service-container {
    display: flex;
    justify-content: flex-end;

    width: 296;
    height: 20;
    gap: 8px;
    padding-right: 12px;
    padding-left: 12px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.links-container {

    gap: 24px;
}



@media (min-width: 768px) {
    .terms-of-service-container {
        margin-right: 183px;
    }

    .footer-socials ul {

        justify-content: center;

    }

    .link-column .wrapper {
        margin-top: none;
    }

    .links-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* 4 equal columns */
        gap: 32px;
        /* Adjust spacing between grid items */
    }

    .footer-container {
        display: flex;
        justify-content: center;
        gap: 56px;
    }

    .col-2 {
        gap: 31px;
    }

    .col-1,
    .col-3 {
        gap: 56px;
    }

    .link-column {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .get-started-div {
        padding: 40px;

        h1 {
            font-size: 32px;
        }
    }

    .url-form {
        padding: 30px;
    }

    .url-settings {
        height: 150px;
        flex-direction: column;
        gap: 16px;

        div {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }
}